body {
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
}

p {
	font-family: verdana;
	font-size: 20px;
}

caja1 {
	float: left;
	margin: 100 0 10px 10px;
	background-color: darkblue;
	width: 300px;
	border: 10px solid grey;
	color: white;
	position: fixed;
	z-index: 10;
}

caja2 {
	float: right;
	margin: 100 0 10px 900px;
	background-color: darkblue;
	width: 300px;
	border: 10px solid grey;
	color: white;
	position: fixed;
	z-index: 10;	
}

nave {
	float: center;
	position: static;
	margin: 0 0 0px 400px;
	z-index:5;
}

luna {
	float: bottom;
	margin: 0 0 0px -1100px;
	position: fixed;
	z-index: 1;
}
